*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}
.formdesign{
    max-width: 30%;
    background-color:rgb(185, 133, 233);
    padding: 5px;
    margin: 0px;
    text-align: end;
    
}
input,textarea{
    font-size: 18px;
    width:70%;
    margin:0px;
    padding: 0px;
   
}
.btn{
    font-size: 15px;
    width:10%;
    margin:0px;
    padding: 0px;
    background-color:rgb(134, 62, 202);
    border: white;
    border-radius: 14px;
    
}